.tiles {
    float: left;
    margin: 5px;
	padding-bottom: 0px;
    width: 433px;
    height: 300px;
    
} 
#banner>img{width:83.5em;}
img{width:100%; height:250px;}
#ipsum{ margin-top:1%; width:99.5%; height:100px; argin-left:-1.3%;}
button{background: #080808; color: silver; width:99.5%; padding:12px; border:1px solid silver;  border-radius:0px; argin-left:-1.3%; outline:none; cursor:pointer;}
button:hover{background:cacaca; color: white;}
h1{ text-align:center; width:100%;}
#wrapper{width:100%;}
#banner{width:1500px; height:300px;}
body{overflow-x:hidden; }
h4{color:red; text-align:center; width:100%; font-family: 'Lato', sans-serif;}
#banner>h1,#banner>p{position:relative; font-family: 'Lato', sans-serif; top:-75%; text-align:left; color:white; margin-left:5%; max-width:340px;}
#banner>h4{margin-top:0%;}
.tiles>p{position:relative; margin-left:5%; font-size:12px; font-family: 'Open Sans', sans-serif;}

	/*Media Queries*/
@media only screen and (max-width: 1000px) {	
	#banner>h1,#banner>p{text-align:center; max-width:360px; top:-75%;}
	.tiles {height: 470px; padding:25px; width: 954px;} 
	h4{position:relative; margin-top:12%; }
#banner>img{width:299.5em; height:370px; }	
#banner{width:110%; height:300px; margin-left:-2%; overflow:hidden;}
body{ width:100%; overflow-x:hidden;}

}
